.button2{
    background-color:#F1F1F1;
    border: none;
    border-radius: 0.8vw;
    color: #111111;
    font-size: 1.5vw;
    font-weight: 900;
    opacity: 0.7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin:0vh 0vw 0vh 1vw;
    -webkit-border-radius: 0.8vw;
    -moz-border-radius: 0.8vw;
    -ms-border-radius: 0.8vw;
    -o-border-radius: 0.8vw;
}
.button21{
background-color: #fbc206;
border:2px solid #ff8800;

border-radius: 0.8vw;
color: #111111;
font-size: 1.5vw;
font-weight: 900;
padding: 15px 32px;
text-align: center;
text-decoration: none;
font-size: 16px;
margin:0vh 0vw 0vh 1vw;
-webkit-border-radius: 0.8vw;
-moz-border-radius: 0.8vw;
-ms-border-radius: 0.8vw;
-o-border-radius: 0.8vw;
}